<!DOCTYPE html>
<html lang="en">
    <head><meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

 <style>
  html{
   padding:50px;
  }
 </style>
</head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">

                <h2>Reset password</h2>

                <% if(message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <form action="/reset/<%= token %>" method="post">

                <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="newPassword">
                </div>

                <div class="form-group">
                <label>Enter New password again</label>
                <input type="password" class="form-control" name="rePassword">
                </div>

                <button type="submit" class="btn btn-succcess btn-lg">Reset</button>
                </form>
            </div>
        </div>
    </body>
</html>
